<div class="container">
  <div class="row text-center">
    <md-card-title style="padding-top:45px;">Start Your Auto Quote</md-card-title>
  </div>
  <div class="row text-center">
    <md-card-subtitle style="padding-bottom:45px;">Enter your zip</md-card-subtitle>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-md-offset-3">
      <md-card style="padding: 80px; text-align: center;">
        <md-card-content>

          <!-- INITIAL ZIP INPUT -->
          <md-input-container>
            <input mdInput placeholder="Zip" [(ngModel)]="personalInfo.zip">
          </md-input-container>

        </md-card-content>
        <md-card-actions>
          <button md-raised-button
                  color="primary"
                  style="float:right;"
                  (click)="onClicked()">
            START YOUR QUOTE
          </button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</div>

<div class="footer-box text-center">&copy; 2017 The Hartford Insurance</div>
