<!-- Personal Info Name Card -->

<md-card>
  <md-card-content>

    <!-- FIRST NAME INPUT -->
    <md-input-container>
      <input mdInput placeholder="First Name" [(ngModel)] ="personalinfo.firstName">
    </md-input-container>
    <!-- LAST NAME INPUT -->
    <md-input-container>
      <input mdInput placeholder="Last Name" [(ngModel)] ="personalinfo.lastName">
    </md-input-container>

  </md-card-content>
  <md-card-actions>
    <button  md-raised-button color="primary">BACK</button>
    <button  md-raised-button color="primary" style="float: right;">NEXT</button>
  </md-card-actions>
</md-card>
