.desc-padding{
  padding:40px;
}

.slider {
  width: 500px;
  cursor:pointer;
  color: #212121;
}

.button-right{

  float:right;

}

.coverage-value-color{
  color: #212121;
}

.sub-header-nav {
  background-color: #FFFFFF;
  color: #212121;
  font-size: larger;
}
