<div class="container">

  <div class="row text-center desc-padding">
    <md-card-subtitle>
      Select your target premium
    </md-card-subtitle>

  </div>

  <div class="row">
    <div class="col-sm-12 col-md-6 col-md-offset-3">

      <!-- Target Premium Card -->
      <md-card>
        <md-card-content>
          <div class="container">
            <div class="row">
              <!-- Slider For User to Select Premium -->
              <md-slider class="slider" [(ngModel)]="targetPremium.premiumValue"></md-slider>
            </div>
            <div class="row">
              <br><br><br>
              <md-card-subtitle>Medical Coverage</md-card-subtitle>
              <md-slider class="slider" [(ngModel)]="targetPremium.premiumValue"></md-slider>
              <br>
              <md-card-subtitle>Property Coverage</md-card-subtitle>
              <md-slider class="slider" [(ngModel)]="targetPremium.premiumValue"></md-slider>
              <br>
              <md-card-subtitle>Deductible</md-card-subtitle>
              <md-slider class="slider" [(ngModel)]="targetPremium.premiumValue"></md-slider>
            </div>
            <!--(change)="onChanged($event)"-->

            <div class="row">
              <h1>
                ${{targetPremium.premiumValue}}<md-card-subtitle>per month</md-card-subtitle>
              </h1>
            </div>

          </div>

        </md-card-content>
        <md-card-actions>
          <button md-raised-button (click)="onBackClicked()">BACK</button>
          <button md-raised-button color="primary" style="float: right;" (click)="onNextClicked()">NEXT</button>
        </md-card-actions>
      </md-card>

    </div>
  </div>

</div>
