.desc-padding {
  padding: 50px;
}

.sub-header-nav {

  width: 100%;
  background-color: #26C6DA;
  color: #EEEEEE;
  padding:15px;
  float:right;
  font-size: larger;

}

.list-item {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.list-item:hover {
  cursor: pointer;
  background-color: #F5F5F5;
}
