.desc-padding {
  padding: 50px;
}

.sub-header-nav {

  background-color: #FFFFFF;
  color: #212121;
  font-size: larger;

}

.list-item {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.list-item:hover {
  cursor: pointer;
  background-color: #F5F5F5;
}
