<!-- Personal Info Address Card -->

<md-card>
  <md-card-content>
    <md-input-container>

      <!-- ACCIDENT INPUT -->
      <input type="number" mdInput [(ngModel)]="personalInfo.numAccidents" placeholder="Number of Accidents">

    </md-input-container>
  </md-card-content>
  <md-card-actions>
    <button md-raised-button (click)="onBackClicked()">BACK</button>
    <button md-raised-button color="primary" style="float: right;" (click)="onNextClicked()">NEXT</button>
  </md-card-actions>
</md-card>
