a:link    {
  /* Applies to all unvisited links */
  text-decoration:  none;
}
a:visited {
  /* Applies to all visited links */
  text-decoration:  none;
}
a:hover   {
  /* Applies to links under the pointer */
  text-decoration:  none;
}
a:active  {
  /* Applies to activated links */
  text-decoration:  none;
}

.footer-box{

  margin-top:80px;
  font-size:14px;
  padding:80px;
  background-color: #212121;
  width:100%;
  color: #9E9E9E;

}
