.desc-padding{
  padding:30px;
}

.sub-header-nav {

  background-color: #FFFFFF;
  color: #212121;
  font-size: larger;

}

a:link    {
  /* Applies to all unvisited links */
  text-decoration:  none;
}
a:visited {
  /* Applies to all visited links */
  text-decoration:  none;
}
a:hover   {
  /* Applies to links under the pointer */
  text-decoration:  none;
}
a:active  {
  /* Applies to activated links */
  text-decoration:  none;
}

.personal-info-box{

  padding:10%;

}
