

<div class="container">

  <div class="row">
    <div class="col-md-6">
      <div class="sub-header-nav" style="float: left;">
        <h3>
          Personal Info
        </h3>
      </div>
    </div>
    <div class="col-md-6">
      <div class="sub-header-nav" style="float: right; text-align: right;">
        <h1>
          ${{numberWithCommas(targetPremium.premiumValue)}}
          <md-card-subtitle>Estimated Premium</md-card-subtitle>
        </h1>
      </div>
    </div>
  </div>
  <hr>

 <!-- <div class="row text-center desc-padding">
    <md-card-subtitle>
      Please answer a few questions about yourself
    </md-card-subtitle>
  </div>-->

  <div class="row">
    <div class="col-sm-12 col-md-6 col-md-offset-3">

      <!--     <md-tab-group>
             <md-tab label="Name">
               <sales-auto-personal-info-name></sales-auto-personal-info-name>
             </md-tab>
             <md-tab label="Address">
               <sales-auto-personal-info-address></sales-auto-personal-info-address>
             </md-tab>
             <md-tab label="History">
               <sales-auto-personal-info-history></sales-auto-personal-info-history>
             </md-tab>
           </md-tab-group>-->

      <nav md-tab-nav-bar>
        <a md-tab-link
           *ngFor="let tab of personalInfoTabData"
           [routerLink]="tab.link"
           routerLinkActive #rla="routerLinkActive"
           [active]="rla.isActive">
          {{tab.label}}
        </a>
      </nav>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-6 col-md-offset-3">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
